:root {
  --clr-primary: black;
  --clr-secondary: #white;
  --clr-text: #f0f8ff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Opcional */
::selection {
  background-color: rgba(0, 0, 0, 0.382);
  color: var(--clr-secondary);
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  a {
    display: inline;
  }
}

li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
svg,
video,
iframe,
picture {
  display: block;
  max-width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../media/bg.svg") center/cover no-repeat;
  background-color: rgb(17, 61, 144); /* Necesario para Mobile Design */
  min-height: 100dvh;
  display: grid;
  color: var(--clr-text);
  grid-template-rows: auto 1fr auto;
}

h2 {
  font-size: 2rem;
  width: min(30rem, 100%);
  color: var(--clr-text);
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  line-height: 1.3;
}

.header {
  color: var(--clr-text);
  padding: 1.5rem;
  .wrapper-logo {
    position: relative;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    .domain-name {
      cursor: default;
      filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.35));
      .domain-name-pro {
        transition: color 400ms;
      }
    }
    .domain-name:hover,
    .domain-name:focus {
      .domain-name-pro {
        color: #f0ca31;
      }
    }
    .verified {
      display: inline-block;
      width: 2.5rem;
      margin-left: 0.3rem;
      position: absolute;
    }
  }
  .logo-subtext {
    text-align: center;
    margin-top: 0;
    color: rgb(149, 149, 149);
    margin: 0;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  /* grid-template-rows: repeat(12, 1fr); */
  grid-template-rows: repeat(26, 1fr);
  /* height: max(calc(100dvh - 12.323rem), 50rem) ; */
  /* min-height: calc(100dvh - 12.323rem); */
  /* min-height: 80dvh; */
  /* min-height: 824.22px; */
}

.office-section {
  grid-column: 3 / 7;
  grid-row: 15 / 24;
}

.adobe-section {
  grid-column: 3 / 7;
  grid-row: 1 / 15;
}

.docs-section {
  grid-column: 8 / 12;
  grid-row: 1 / 24;
}

.libros {
  grid-column: 13 / 17;
  grid-row: 1 / 24;
}

.box-design {
  width: min(30rem, 100%);
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid hsla(0, 0%, 98%, 0.063);
  border-radius: 1rem;
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
}

.wrapper-posts {
  .post {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem;
    .post-img{
      width: min(5rem, 100%);
      aspect-ratio: 1/1;
    }
    .gray {
      filter: grayscale(100%);
    }
    .gray-text{
      color: rgb(149, 149, 149);
    }
    .post-description {
      display: flex;
      gap: .2rem;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      color: rgb(225, 225, 225);
      .coming-soon {
        background-color: rgba(197, 28, 28, 0.922);
        color: var(--clr-text);
        padding: .4rem;
        border-radius: .3rem;
      }
      .available {
        background-color: rgba(28, 161, 44, 0.922);
        color: var(--clr-text);
        padding: .4rem;
        border-radius: .3rem;
      }
    }
  }
  .post:hover {
    background-color: #fafafa40;
    border-radius: 1rem;
  }
  .not-available:hover {
    background-color: transparent;
  }
}

.footer {
  padding: 1.5rem;
  .copyright {
    text-align: center;
  }
}

@media (width <= 30rem) {
  .box-design {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    .wrapper-posts {
      .post:hover {
        border-radius: 0;
      }
    }
  }
}

@media (width <= 109.375rem) {
  .main {
    display: flex;
    flex-direction: column;
  }
}